<ul class="navigation">
    <li name="home">
        <a href="/">Home</a>
    </li>
    <li name="travel">
        <a href="/travel">Travel</a>
    </li>
    <li name="rooms" >
        <a href="/rooms">Rooms</a>
    </li>
    <li name="meals">
        <a href="/meals">Meals</a>
    </li>
    <li name="news">
        <a href="/news">News</a>
    </li>
    <li name="about">
        <a href="/about">About</a>
    </li>
    <li name="contact">
        <a href="/contact">Contact</a>
    </li>
</ul>